# Скрипты автоматизации и архиваторы
7z.exe
7z.dll

# Исполняемые файлы и утилиты RetroMCP
RetroMCP-Java-CLI.jar
RetroMCP-Java-GUI.jar

# Папки сборщика, библиотек и самого сервера
build/
doc/
jars/
libraries/
freeminecraft/

# Клод и AI-настройки
.claude/
CLAUDE.md
doc/

# Настройки среды разработки (IDE) в корне и подпапках
#.idea/
#.vscode/
#*.iml
#.classpath
#.project
#.settings/
#.windsurf/

# Папки компиляции внутри /minecraft
minecraft/bin/
minecraft/reobf/
minecraft/md5/
minecraft/jars/
minecraft/output/

minecraft_server/
minecraft_server/bin/
minecraft_server/reobf/
minecraft_server/md5/
minecraft_server/jars/
minecraft_server/output/

# Рабочие файлы игры (карты, логи, конфиги модов)
minecraft/game/
minecraft_server/game